html, body {
  height: 100%;
  font-family: Arial, sans-serif;    
  color: white;
}

a {
  color: white;
}

body {
  background-position: center -0px;
  background-repeat: no-repeat;
  background-image: url("../assets/background.png"), -webkit-radial-gradient(center, ellipse cover,#FFFFFF 0%,#FAFAFA 50%,#F5F5F5 60%,#BEBEBE 100%);
  margin: 0;
  padding: 0;
}

#title {
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 120%;
  letter-spacing: -0.05em;
}

#webview {
	position: absolute;
	top: 220px;
	width: 100%;
	height: 490px;
	visibility: hidden;
}

#message_box {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	font-size: 40px;
	visibility: hidden;
}

#players {
	position: absolute;
	width: 40%;
	left: 10%;
	top: 120px;
	font-size: 27px;	
	visibility: visible;
}
#teams {
	position: absolute;
	width: 45%;
	right: 5%;
	top: 120px;
	font-size: 27px;	
	visibility: visible;
}
#teams_list {
	font-size: 20px;
}

#recently_played_with_panel {
	position: absolute;
	width: 70%;
	left: 15%;
	top:100px;
	font-size: 20px;
	overflow-y: scroll;
	height:550px;	
	display: none;
}

#update {
	position: absolute;
	right: 190px;
	bottom: 10px;
}

#credit {
	position: absolute;
	right: 30px;
	bottom: 10px;
}

.link  a{
	text-decoration:underline;
	cursor:pointer;
}

#profile_name {
	position: absolute;
	left: 30px;
	bottom: 30px;
}

#lobby {
	position: absolute;
	left: 30px;
	bottom: 10px;
}

#recently_played_with {
	position: absolute;
	left: 75px;
	bottom: 10px;
}

#disconnect {
	position: absolute;
	left: 195px;
	bottom: 10px;
}